.dropDownOuterShell {
  z-index: 50;
  position: fixed;
  left: 87.5%;
  top: 6.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upCaret {
  font-size: 40px;
  margin-top: -10px;
}
.dropDownShell {
  margin-top: -8px;
  background-color: #171a21;
  color: white;
  width: 90px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropDownBtn {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
