.homeFocusShell {
  background-color: rgba(23, 26, 33, 0.4);
  width: 95%;
  margin-top: 200px;
  margin: 20px;
  margin-bottom: 0;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  border-radius: 8px;
}
.focusInnerShell {
  width: 95%;
  height: 87%;
  display: flex;
  justify-content: space-around;
  min-width: 950px;
}
.videoOuterShell {
  height: 100%;
  width: 70%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.focusVideo {
  border-radius: 200px;
  height: 0px;
}
.focusTitleBox {
  width: 95%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.focusTitle {
  font-size: 26px;
  color: #c7d5e0;
}
.focusAboutShell {
  width: 30%;
  min-width: 350px;
  margin-left: 20px;
}
iframe {
  border-radius: 6px;
}
.gameImg {
  width: 100%;
  max-height: 200px;
  border-radius: 8px;
}
.aboutVideoText {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  height: 105px;
  overflow: hidden;
}
.reviewOuterShell {
  display: flex;
  align-items: space-between;
  font-size: 15px;
}
.reviewTitleBox {
  width: 35%;
  color: #c7d5e0;
}
.reviewTitles {
  margin-top: 15px;
}
.reviewData {
  margin-top: 15px;
  color: #66c0f4;
  display: flex;
}
.reviewGenre {
  margin-top: 20px;
}
.genreButton {
  background-color: #2a475e;
  color: #66c0f4;
  font-size: 17px;
  margin-top: 15px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 2px;
  height: 30px;
  width: fit-content;
  cursor: pointer;
}
.genreButton:hover,
.focusTitleButton:hover {
  background-color: #66c0f4;
  color: white;
}
.focusTitleButton {
  background-color: #2a475e;
  color: #66c0f4;
  font-size: 17px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: fit-content;
  cursor: pointer;
}
.focusButtonShell {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
}
.totalReviewText {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  color: #556772;
  width: fit-content;
}
