.homeFocusShell {
  background-color: #171a21;
  width: 90%;
  margin: 20px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.focusInnerShell {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}
.videoOuterShell {
  height: 100%;
  width: 60%;
}
.focusTitleBox {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.focusTitle {
  font-size: 26px;
  color: #c7d5e0;
}
