body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  color: white;
  box-sizing: border-box;
  outline: none;
}
::-webkit-scrollbar {
  height: 8px;
  width: 10px;
  background: #171a21;
}

::-webkit-scrollbar-thumb {
  background: #c7d5e0;
  -webkit-border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background: #171a21;
}
#root {
  box-sizing: border-box;
}
.defaultInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b2838;
  height: fit-content;
  max-width: 568px;
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  outline: none;
  color: white;
}
.defaultOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  outline: none;
}
.ReactModal__Content {
  opacity: 0;
  transform: translateY(400px);
  transition: all 400ms ease-in-out;
  outline: none;
}
.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
  outline: none;
}
.LoginShell {
  height: 100%;
  width: 100%;
}
.LoginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  outline: none;
}
.modalFooterText {
  cursor: pointer;
  width: fit-content;
  text-decoration: underline;
  color: #66c0f4;
}
.modalFooterText:hover {
  color: white;
}
.modalErrors {
  margin: 0;
}
.formInput {
  color: white;
  background-color: #171a21;
  display: flex;
  cursor: text;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  border: none;
  z-index: 1;
  margin-top: 5px;
  height: 30px;
  outline: none;
  text-decoration: none;
}
.inputBox {
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  width: 100%;
  margin: 5px;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 2px;
}
.formTitle {
  background: #171a21;
  color: white;
  text-align: center;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.modalButton {
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  border: none;
  background-color: #2a475e;
  color: #66c0f4;
  padding: 10px;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}
.modalButton:hover {
  background-color: #66c0f4;
  color: white;
}
