.splashShell {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/background-img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splashTitleShell {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 140px;
  width: 60%;
  margin-top: -150px;
}
.splashTitle {
  align-self: center;
  margin: 0;
}
.splashInputShell {
  margin-top: 50px;
  height: 200px;
  display: flex;
  align-items: center;
}
.splashInput {
  height: 89.9%;
  width: 450px;
  font-size: 24px;
  outline: none;
  border: none;
}
.splashButton {
  height: 100%;
  width: 160px;
  font-size: 20px;
  background: #66c0f4;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: -1px;
}
.splashButton:hover {
  box-shadow: rgba(255, 255, 255, 0.8) 0 0 10px;
}
.splashInputInner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: white;
}
