.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 760px;
  justify-content: space-between;
  position: fixed;
  height: 80px;
  background-color: #171a21;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  z-index: 3;
}
.homeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #171a21;
  border: none;
  color: rgb(34, 34, 34);
  text-decoration: none;
  border-radius: 30px;
  outline: none;
  width: 200px;
  height: 60px;
  padding: 0;
  border: none;
  transition: box-shadow 0.4s;
}
.homeButton:hover {
  box-shadow: rgba(255, 255, 255, 0.8) 0 0 10px;
}
.logoText {
  height: 45px;
  width: 170px;
  padding: 0;
  margin: 0;
}

.homeLink {
  width: 170px;
  height: 60px;
  margin-left: 50px;
}
.navOuterShell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navButton {
  margin-right: 50px;
  height: 34px;
  width: 95px;
  font-size: 20px;
  background-color: #2a475e;
  color: #66c0f4;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.navButton:hover {
  background-color: #66c0f4;
  color: white;
}
.rightNavShell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navUserName {
  margin-right: 20px;
  color: #c7d5e0;
}
.searchBtnShell {
  height: 34px;
  width: 30px;
  font-size: 21px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 4px;
  transition: width 1s ease;
  overflow: hidden;
  background-color: #2a475e;
  color: #66c0f4;
  cursor: pointer;
}
.searchIcoShell:hover {
  background-color: #66c0f4;
  color: white;
}
.searchBtnShell.active {
  width: 400px;
}
.searchBtnIcon {
  margin-left: 3px;
}
.searchInputBox {
  width: 91%;
  height: 100%;
  margin-left: 10px;
  background-color: #2a475e;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}
.searchIcoShell {
  background-color: #2a475e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
  font-size: 25px;
}
.profilePictureNav {
  height: 28px;
  border-radius: 6px;
}
.userNameShell {
  background-color: #2a475e;
  color: #66c0f4;
  width: 60px;
  height: 34px;
  border-radius: 4px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}
.downArrow {
  margin-left: 7px;
  transition: transform 0.4s ease;
}
.userNameShell:hover {
  background-color: #66c0f4;
  color: white;
}

.userNameShell:hover .downArrow {
  transform: rotate(180deg);
}
