.developerButtonShell {
  z-index: -1;
  pointer-events: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 700px;
}

.localBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  width: 180px;
  margin-left: 60px;
}
.largeText {
  margin: 0;
  background-color: Black;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: default;
}
.largeButton {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 14px;
  border-radius: 8px;
  outline: currentcolor none medium;
  padding: 7px 15px;
  line-height: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: 1px solid rgb(221, 221, 221);
  pointer-events: auto;
}
.largeButton:hover {
  background-color: #ddddddcc;
}
.developerBox {
  height: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}
.developerButton {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
  outline: currentcolor none medium;
  padding: 7px 15px;
  line-height: 18px;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: 1px solid rgb(221, 221, 221);
  width: 500px;
  height: 60px;
  margin-right: 30px;
  pointer-events: auto;
  z-index: -1;
  margin-bottom: 30px;
}
.developerButton:hover,
.developerButton.active {
  background-color: #ddddddcc;
}
.aboutLink {
  text-decoration: none;
  color: black;
}
.aboutTitle:hover {
  background-color: #ddddddcc;
}
.devMenu {
  margin-bottom: 20px;
  width: 400px;
  z-index: 2;
  padding: 20px;
  padding-top: 0;
}
.aboutIcon {
  font-size: 25px;
}
.aboutTitle {
  height: 25px;
  padding-left: 10px;
  width: 95%;
  margin: 0;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 25px;
}
