.focusInner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1b2838;
  height: 85vh;
  width: 90%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  outline: none;
  color: white;
  overflow: scroll;
}
.focusOuter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  outline: none;
}
.commentSectionShell {
  margin-top: 25px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commentSectionTop {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
}
.commentTopRight {
  width: 40%;
  background: rgba(148, 217, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
.commentTopLeft {
  background-color: #2a475e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
.topText {
  margin-left: 15px;
}
.bottomText {
  margin-left: 15px;
  color: #66c0f4;
  font-size: 20px;
  margin-top: 5px;
  display: flex;
}
.commentSectionBottom {
  margin-top: 20px;
  width: 95%;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 10px;
}
.commentBottomLeft {
  width: 60%;
}
.commentBottomRight {
  width: 40%;
}
.bottomLeftTitle,
.bottomRightTitle {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bottomLeftTitle {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.commentOuterShell {
  background-color: rgba(23, 26, 33, 0.4);
  width: 95%;
  display: flex;
  height: 280px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.commentLeftShell,
.commentRightShell {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.commentInnerLeft {
  width: 30%;
  display: flex;
}
.commentInnerRight {
  width: 70%;
}
.userProfileImg {
  width: 50px;
  height: 50px;
  background-color: black;
  margin: 10px;
  border-radius: 8px;
}
.commentUserInfo {
  margin-top: 10px;
}
.commentUserName {
  font-size: 18px;
}
.userTotal {
  margin-top: 10px;
  font-size: 14px;
}
.ratingImageUp {
  height: 50px;
  width: 50px;
  background-color: #2a475e;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #66c0f4;
  border-radius: 8px;
}
.ratingImageDown {
  height: 50px;
  width: 50px;
  background-color: #613236;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #e06463;
  border-radius: 8px;
}
.commentInnerRightTitle {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 10px;
}
.commentLowerRightShell {
  width: 95%;
  height: 140px;
  margin-bottom: 10px;
}
.commentInnerRight {
  margin-bottom: 20px;
}
.commentText {
  height: 145px;
  display: flex;
  overflow: hidden;
}
.ratingText {
  font-size: 20px;
  margin-bottom: 10px;
}
.commentDate {
  font-size: 14px;
  margin-left: 20px;
}
.commentText {
  margin-top: 10px;
}
.commentRightShell {
  width: 95%;
}
#focusModalAboutShell {
  height: 900px;
}
#focusModalAboutText {
  height: 100px;
}
.commentBtn {
  height: 34px;
  width: 170px;
  font-size: 20px;
  background-color: #2a475e;
  color: #66c0f4;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.commentBtn:hover {
  background-color: #66c0f4;
  color: white;
}
.commentBtnS {
  height: 30px;
  width: 70px;
  font-size: 20px;
  background-color: #2a475e;
  color: #66c0f4;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 20px;
}
.commentBtnS:hover {
  background-color: #66c0f4;
  color: white;
}
.commentBtnShell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}
.commentInnerShell {
  width: 100%;
  height: 100%;
  display: flex;
}
.hiddenComment {
  display: none;
}
